<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <main>
      <div class="big-wrapper light">
        <!-- <img src="{{url_for('static', filename='shape.png')}}" alt="" class="shape" /> -->

        <header>
          <div class="container">
            <div class="logo">
              <a href="{{ url_for('header') }}"><img src="../static/coffeebeans.png" alt="Logo" />
              <h3>coffee2conference</h3>
            </div>

            <div class="links">
              <ul>
                <li><a href="{{ url_for('work') }}">How it Works</a></li>
                <li><a href="{{ url_for('team') }}">Meet the Team</a></li>
                <!-- <li><a href="work.html">How it Works</a></li>
                <li><a href="team.html">Meet the Team</a></li> -->
                <li>
                  <a href="#" class="btn" id="googleLogin">Login</a>
                </li>
                <!-- <button onclick="googleLogin()"> Login </button> -->
              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>
  </body>
</html>