<!DOCTYPE html>

<body>

	<div class="header">
		<input type="text" id="unique-id" placeholder="UNIQUE ID...">
		<input type="text" id="person-name" placeholder="USERNAME">
		<input type="text" id="date" placeholder="DATE">
		<input type="text" id="start-time" placeholder="START TIME">
		<input type="text" id="end-time" placeholder="END TIME">

	</div>
	<div>
		<button id="button_submit">Submit</button>

		<!-- <div>
					<button id="button_share">Share</button>
					<button id="button_notification">Notification</button>

		</div> -->
		<pre id='object'></pre>

	</div>

	<script type="module" src="../static/update.js"></script>
	<!-- <script type="module" src="../static/test.js"></script> -->

</body>