<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>create and view</title>
  <link href="../static/cvstyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <div class="row">
            <div class="logo-row">
                <a href="https://www.google.com">
                    <img src="../static/c2clogo.png" alt="logo" class="logo">
                </a>
            </div>
        </div>
    </header>


    <section>
        <div id="create">
            <img src="../static/create.png">
            <!-- <a href="https://www.google.com"> -->
                <a href="{{ url_for('createEvent') }}">
                <button class="button button1">Create a Schedule</button>
            </a>
        </div>
        <div id="view">
            <img src="../static/view.png">
            <a href="https://www.google.com">
                <button class="button button2">View a Schedule</button>
            </a>
        </div>
    </section>
</body>
</html>
